Repository gelocraft/medibot, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci, documentation, python

.github/labeler.yaml:

---
bug:
  - head-branch: ['^fix', '^bugfix', 'bug', 'fix']

bugfix:
  - head-branch: ['^fix', '^bugfix', 'bug', 'fix']

feature:
  - head-branch: ['^feat', '^feature', 'feature']

revert:
  - head-branch: ['^revert', 'revert', '^rollback', 'rollback']

rollback:
  - head-branch: ['^rollback', 'rollback', '^revert', 'revert']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

python:
  - changed-files:
      - any-glob-to-any-file: ['**.py']

ci: create release note config
  .github/release.yaml
Labels: ci

docs: create readme
  README.md
Labels: documentation

docs: create readme
  README.md
Labels: documentation

docs: update readme
  README.md
Labels: documentation

deps: generate requirements.txt
  requirements.txt
Labels: none
